header {
  .center-flex();
  padding-bottom: 0;
  background-color: rgb(228, 211, 214);

  .intro {
    .center-flex();
    color: #270609;
    text-align: center;

    h1 {
      max-width: 70%;
      // padding-bottom: 1rem;
    }

    h2 {
      padding: 1.5rem;
    }

    .pitch {
      width: 45%;
      color: rgb(68,66,67);
    }

    .btn {
      font-size: 3rem;
      padding: 1rem 2rem;
      background-color: royalblue;
      border: transparent;
      border-radius: .5rem;
      color: antiquewhite;
      text-decoration: none;
      margin: 1.5rem;

      @media @phone {
        font-size: 3rem;
        width: 80%;
        border-radius: 1rem;
      }
    }
  }

}






// .navbar {
//     width: 100%;
//     margin: 0 auto;
//     background-color: rgb(63, 49, 66);
//     .center-flex();

//     nav {
//         padding-bottom: 2.5rem;

//         a {
//             font-size: 2rem;
//             text-decoration: none;
//             color: rgb(198, 222, 238);
//             padding: 1.0rem;
//         }
//     }

//     @media @phone {
//        nav {
//            display: flex;
//            justify-content: center;
//            flex-wrap: wrap;
//         }

//         a {
//             padding-left: 2px;
//         }
//     }
// }